body{
	background-image: url('./image/android-icon-192x192.png');}
#authFormWrapper {
	background-color:aquamarine;
	margin: auto;
	width: 80%;
	display: flex;
	flex-flow: column wrap;
}

#authFormButtonsWrapper {
	margin-top: 10px;
	display: flex;
	margin-bottom: 10px;
}

.authFormButtons {
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

#authForm {
	background-color:rgb(37, 211, 153);
	position: absolute;
	width:100%;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
}

.authFormLabel {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.authFormInput {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.error {
	color: red;
	text-align: center;
}
